*{
    margin:0;
    padding:0;
    overflow-x: hidden;

}

.navbar{
    position: fixed;
    
    z-index: 1;
    display: flex;
    background-color: rgb(67, 56, 218);
  
}
.navlist{
    width:50%;
    display: flex;
    
    align-items: center;
   

}
.navlist li{
 list-style: none;
 padding: 10px 30px;
}
.navlist li a {
 text-decoration: none;
 font-size: 24px;
 color: rgb(255, 255, 255);
}
/* .navlist li a:hover{
    text-decoration: underline;
} */
/* Have to change text decoration */
.logo{
    width:20%;
    
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    position: relative;
    width: 40%;
    height: 40%;
    border-radius: 33px;
    
}
.rightnav{
    position: relative;
    right: 50px;
    padding-top: 10px;
    width:50%;
    text-align: right;

}
#search{
    padding:3px;
    border:2px solid gray;
    border-radius: 6px;
    height: 20px;
}
.btn{
    padding: 5px 21px;
    margin:6px 10px;
    border: 0px solid white;
    border-radius:8px ;
    background-color: rgb(6, 6, 128);
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.header-container{
    position: absolute;
    height: 100vh;
    width: 100vw; 
    left: 0px;
    top: 90px;
}

.carousel-img{
    width: 100vw;
    height: 76vh;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.658)) , url('./project pic/2.jpg'), no-repeat;
    box-shadow: 10px 20px 25px 5px rgba(17, 40, 242, 0.2);
}
.para-wrap{
    position: relative;
    left: 100px;
    top: 200px;
    
}
.caption-heading{
    position: relative;
    color: rgb(38, 0, 255);
    font-size: 80px;
    font-weight: 600;
    font-family: sans-serif;

}

.caption-para{
    width: 70vw;
    position: relative;
    color: rgb(75, 75, 75);
    font-size: 36px;
    
   
}